<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.dev.birifqa.edcgold">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity_user.HistoryActivity"></activity>
        <activity android:name=".activity_user.TopUpSuksesActivity" />
        <activity android:name=".activity_user.TopUpKartuDebitActivity" />
        <activity android:name=".activity_user.WithdrawSuksesActivity" />
        <activity android:name=".activity_user.GantiAlamatSuksesActivity" />
        <activity android:name=".activity_user.GantiRekeningSuksesActivity" />
        <activity android:name=".activity_user.GantiEmailSukses" />
        <activity android:name=".activity_user.GantiNomorSuksesActivity" />
        <activity android:name=".activity_user.GantiKataSandiSukses" />
        <activity android:name=".activity_user.PembayaranActivity" />
        <activity android:name=".activity_user.AgingActivity" />
        <activity android:name=".activity_user.PetunjukActivity" />
        <activity android:name=".activity_user.NotifikasiActivity" />
        <activity android:name=".activity_user.FeedbackActivity" />
        <activity android:name=".activity_user.MiningActivity" />
        <activity android:name=".activity_user.UbahPasswordActivity" />
        <activity android:name=".activity_user.UbahAlamatActivity" />
        <activity android:name=".activity_user.UbahRekeningBankActivity" />
        <activity android:name=".activity_user.RekeningBankActivity" />
        <activity android:name=".activity_user.UbahEmailActivity" />
        <activity android:name=".activity_user.UbahNomorActivity" />
        <activity android:name=".activity_user.ProfilePengaturanActivity" />
        <activity android:name=".activity_user.ProfileLockActivity" />
        <activity android:name=".activity_user.ProfileDetailActivity" />
        <activity android:name=".activity_user.RegisterSuksesActivity" />
        <activity android:name=".activity_user.ProfileActivity" />
        <activity android:name=".activity_user.RegisterActivity" />
        <activity android:name=".activity_user.ForgotPasswordActivity" />
        <activity
            android:name=".activity_user.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_user.LoginActivity"
            android:theme="@style/LoginTheme" />
        <activity android:name=".activity_user.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_user.MainActivity" />
    </application>

</manifest>