<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.dev.birifqa.edcgold">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity_user.MiningActivity"></activity>
        <activity android:name=".activity_user.UbahPasswordActivity" />
        <activity android:name=".activity_user.UbahAlamatActivity" />
        <activity android:name=".activity_user.EditRekeningBank" />
        <activity android:name=".activity_user.RekeningBankActivity" />
        <activity android:name=".activity_user.UbahEmailActivity" />
        <activity android:name=".activity_user.UbahNomorActivity" />
        <activity android:name=".activity_user.ProfilePengaturanActivity" />
        <activity android:name=".activity_user.ProfileLockActivity" />
        <activity android:name=".activity_user.ProfileDetailActivity" />
        <activity android:name=".activity_user.RegisterSuksesActivity" />
        <activity android:name=".activity_user.ProfileActivity" />
        <activity android:name=".activity_user.RegisterActivity" />
        <activity android:name=".activity_user.ForgotPasswordActivity" />
        <activity
            android:name=".activity_user.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity_user.LoginActivity" />
        <activity android:name=".activity_user.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_user.MainActivity" />
    </application>

</manifest>